.idea/
.vscode/

.env

__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

.venv/
venv/
env/

*.db
*.sqlite3

src/media/moto/
src/media/moped/
src/media/quad/
src/media/reviews/
src/media/hero/
src/media/brands/

*.sql
*.sql.gz

*.log

.DS_Store